body {
  background-color: #ECECEA;
  background: url('/assets/fabric_1.png');
  color: #2B2B2B;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 18px;
  margin: 0px;
}

h1 {
  color: #ebeceb;
  line-height: 50px;
  font-size: 25px;
  background-color: #558C89;
  font-family: 'Oswald';
  text-align: center;
  margin:0px auto;
  -webkit-font-smoothing: antialiased !important;
}

h3 {
  color: #2B2B2B;
  font-family: 'Source Sans Pro', sans-serif;
}

p, ol, ul, td {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.shop a, .shop a:visited{
  color: #558C89;
}

.container {
  width:300px;
  margin:0px auto;
  }
a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: none;
  }

}
table {
border-collapse: collapse;
border-spacing: 0px;
border-color: gray;
}

td {
  padding: 5px;}

tr:nth-child(even) {
    background: #D4D4D3;
}

.message {
 margin-top: 50px; 
 font-weight: bold;
 color: #558C89;

}
.delete {background-color: #C63D0F;
  padding: 5px 8px;
  border-radius:5px;}
.delete a, {color: #fff;
  text-decoration: none;}

.vote {background-color: #558C89;
  padding: 5px 8px;
  border-radius:5px;}

.newtopic {background-color: #C63D0F;
  padding: 5px;
  border-radius:5px;
  width: 70px;
  text-align: center;}
.newtopic a {color: #fff;
  text-decoration: none;}

.back {background-color: #558C89;
  float: left;
  margin-top: 8px;
  margin-right: 5px;
  padding: 5px;
  border-radius:5px;
  width: 70px;
  text-align: center;}
.back a {color: #fff;
  text-decoration: none;}
.back a:hover { 
  color: #024e44;}

a:hover {
  color: #7F1F05;
  background-color: none;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


